QUAN.gff:QUAN
TG1.gff:TG1
TG10.gff:TG10
TG11.gff:TG11
TG12.gff:TG12
TG13.gff:TG13
TG14.gff:TG14
TG15.gff:TG15
TG16.gff:TG16
TG17.gff:TG17
TG18.gff:TG18
TG19.gff:TG19
TG2.gff:TG2
TG21.gff:TG21
TG22.gff:TG22
TG24.gff:TG24
TG27.gff:TG27
TG28.gff:TG28
TG29.gff:TG29
TG3.gff:TG3
TG30.gff:TG30
TG31.gff:TG31
TG32.gff:TG32
TG33.gff:TG33
TG34.gff:TG34
TG4.gff:TG4
TG42.gff:TG42
TG43.gff:TG43
TG45.gff:TG45
TG46.gff:TG46
TG49.gff:TG49
TG5.gff:TG5
TG50.gff:TG50
TG51.gff:TG51
TG52.gff:TG52
TG53.gff:TG53
TG54.gff:TG54
TG55.gff:TG55
TG56.gff:TG56
TG58.gff:TG58
TG59.gff:TG59
TG6.gff:TG6
TG60.gff:TG60
TG61.gff:TG61
TG62.gff:TG62
TG63.gff:TG63
TG64.gff:TG64
TG65.gff:TG65
TG68.gff:TG68
TG7.gff:TG7
TG70.gff:TG70
TG75.gff:TG75
TG76.gff:TG76
TG77.gff:TG77
TG78.gff:TG78
TG8.gff:TG8
TG80.gff:TG80
TG81.gff:TG81
TG82.gff:TG82
TG83.gff:TG83
TG84.gff:TG84
TG85.gff:TG85
TG86.gff:TG86
TG87.gff:TG87
TG88.gff:TG88
TG9.gff:TG9
TG90.gff:TG90
WSSM.gff:WSSM
WW8.gff:WW8
wild111.gff:wild111
wild12.gff:wild12
wild131.gff:wild131
wild219.gff:wild219
wild273.gff:wild273
wild65.gff:wild65
NATELBORO.gff:NATELBORO
ARC10497.gff:ARC10497
CHAOMEO.gff:CHAOMEO
KETANNANGKA.gff:KETANNANGKA
PR106.gff:PR106
LARHAMUGAD.gff:LARHAMUGAD
LIMA.gff:LIMA
H7L1.gff:H7L1
H7L26.gff:H7L26
H7L27.gff:H7L27
H7L28.gff:H7L28
H7L29.gff:H7L29
H7L30.gff:H7L30
H7L31.gff:H7L31
H7L32.gff:H7L32
H7L33.gff:H7L33
SE-3.gff:SE-3
SE-19.gff:SE-19
SE-33.gff:SE-33
SE-134.gff:SE-134
Azucena.gff:Azucena
IR64.gff:IR64
IR64RS1.gff:IR64RS1
KHAOYAIGUANG.gff:KHAOYAIGUANG
GOBOLSAIL.gff:GOBOLSAIL
LIUXU.gff:LIUXU
R600.gff:R600
Suijing18.gff:Suijing18
Nagina22.gff:Nagina22
CGS.gff:CGS
Zhenshan97.gff:Zhenshan97
IR8.gff:IR8
Kitaake.gff:Kitaake
Tetep.gff:Tetep
Sadri.gff:Sadri
Basmati.gff:Basmati
HR12.gff:HR12
R498.gff:R498
msu7.gff:IRGSP-1.0
